body {
  background-color: rgb(206, 237, 229);
}


#logInForm {
  border: 2px black solid;
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loginButton {
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px black solid;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#loginButton:hover {
  background-color: white;
}

#errorMessage {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: none;
}

#logOutButton {
  background-color: #000000;
  color: #fff;
  right: 10%;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#logOutButton:hover {
  background-color: #626262;
}

.toolbox:hover {
  background-color: red;
  border: 3px black solid;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  #container {
    max-height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}


#data,
#graphContainer {
  text-align: center;
  margin: 50px;
}

#columnGraph {
  text-align: left;
  margin: 50px;
}

#logOutButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}


h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000000;
}